# FastAPI 및 서버 실행
fastapi
uvicorn  # 또는 uvicorn[standard] (성능 우선 시)

# 데이터베이스
sqlalchemy
pymysql

# 환경 변수 및 로깅
python-dotenv

# LangChain 및 OpenAI 임베딩
langchain
langchain-community
langchain-openai
faiss-cpu

# 스케줄러
apscheduler

# 기타 유틸
tqdm
regex
